@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Condiment&family=Montserrat:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//FONT-VARIABLES
$comfortaa: 'Comfortaa',
cursive;

$condiment: 'Condiment',
cursive;

$montserrat: 'Montserrat',
sans-serif;

$roboto: 'Roboto',
sans-serif;

//GLASSMORPHISM VARIABLES
$glow: 0 0 3px white;

$true-glassmorph: 0 0 13px 8px rgba(0, 0, 0, 0.6),
inset 1px 1px 3.5px 2px rgba(255, 255, 255, 0.76);

$true-glassmorph-less-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.65),
inset 1px 1px 3.5px 2px rgba(255, 255, 255, 0.76);

$glassmorph-nav: inset 0 11px 8px -6px rgba(255, 255, 255, 0.76),
inset 0 -11px 8px -6px rgba(255, 255, 255, 0.76);

$glassmorph: inset 0 11px 8px -6px rgba(255, 255, 255, 0.76),
inset 0 -11px 8px -6px rgba(255, 255, 255, 0.76);

$glassmorph-sides: inset 9px 0px 8px -6px rgba(255, 255, 255, 0.76),
inset -7px 0px 8px -6px rgba(255, 255, 255, 0.76);

$glassmorph-top: inset 0 11px 8px -6px rgba(255, 255, 255, 0.726);

$glassmorph-bottom: inset 0 -11px 8px -6px rgba(255, 255, 255, 0.726);

$simple-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.5);

$simple-shadow-nav: 2px 2px 15px 10px rgba(0, 0, 0, 0.5);

//TIMELINE VARIABLES

//ANIMATION MIXINS
@mixin fadeUp {
    animation: fadeIn-trans-up 1.5s .5s forwards;

    @keyframes fadeIn-trans-up {
        0% {
            opacity: 0;
            transform: translateY(25%);
        }

        100% {
            opacity: 1;
            transform: translateY(0)
        }
    }
}

@mixin fadeDown {
    animation: fadeIn-trans-down 1.5s .5s forwards;

    @keyframes fadeIn-trans-down {
        0% {
            opacity: 0;
            transform: translateY(-150%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

// CSS-RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

//STYLING START
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 20s ease-in-out infinite, fadeIn 2s;
    overflow: hidden;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .bg-img {
        background: url(/images/code-bg.jpg) center / cover no-repeat;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        position: fixed;
        top: 0;
    }

    // NAVIGATION START
    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        backdrop-filter: blur(10px);
        z-index: 100;
        height: 100px;
        padding: 2.5em;
        box-shadow: $glassmorph-nav, $simple-shadow-nav;
        opacity: 0;
        @include fadeDown;

        #logo {
            font-family: $condiment;
            font-size: 5rem;
            text-decoration: none;
            text-shadow: $glow;
            color: white;
            margin-top: 20px;
            margin-left: 5px;

            &:hover {
                text-shadow: 0 0 3px black;
                transition: .3s;
            }

            &:active {
                opacity: 0;
                transition: 0s;
            }
        }

        // DROPDOWN MENU START
        .menu {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .menu>li {
            margin: 0 2rem;
            overflow: hidden;
        }

        .menu-button-container {
            display: none;
            height: 100%;
            width: 30px;
            margin-right: 20px;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .menu-button,
            .menu-button::before,
            .menu-button::after {
                display: block;
                background-color: white;
                box-shadow: $glow;
                position: absolute;
                height: 4px;
                width: 30px;
                transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
                border-radius: 2px;
            }

            .menu-button::before {
                content: '';
                margin-top: -10px;
            }

            .menu-button::after {
                content: '';
                margin-top: 10px;
            }
        }

        #menu-toggle {
            display: none;
        }

        #menu-toggle:checked+.menu-button-container .menu-button::before {
            margin-top: 0px;
            transform: rotate(405deg);
        }

        #menu-toggle:checked+.menu-button-container .menu-button {
            background: rgba(255, 255, 255, 0);
            box-shadow: none;
        }

        #menu-toggle:checked+.menu-button-container .menu-button::after {
            margin-top: 0px;
            transform: rotate(-405deg);
        }

        @media (max-width: 600px) {
            .menu-button-container {
                display: flex;
            }

            .menu {
                position: absolute;
                top: 0;
                margin-top: 100px;
                left: 0;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
                backdrop-filter: blur(10px);
                box-shadow: $glassmorph-bottom, 0 5px 5px 2px rgba(0, 0, 0, 0.5);
            }

            #menu-toggle~.menu li {
                height: 0;
                margin: 0;
                padding: 0;
                border: 0;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            #menu-toggle:checked~.menu li {
                height: 6em;
                padding: 0.5em;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            .menu>li {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0.5em 0;
                width: 100%;
                color: white;

                a {
                    text-decoration: none;
                    font-family: $comfortaa;
                    font-size: 2rem;
                    color: white;
                    text-shadow: $glow;
                    margin-top: 1.5rem;

                    &:active {
                        opacity: 0;
                    }

                    &:after {
                        display: block;
                        content: '';
                        border-bottom: solid 3px rgba(255, 255, 255, 0.75);
                        border-radius: 50px;
                        padding-top: 1px;
                        transform: scaleX(0);
                        transition: transform 250ms ease-in-out;
                    }

                    &:hover:after {
                        transform: scaleX(1);
                    }
                }
            }
        }

        @media (min-width: 601px) {
            .menu {
                a {
                    text-decoration: none;
                    font-family: $comfortaa;
                    font-size: 2rem;
                    text-shadow: $glow;
                    color: white;
                    margin-top: 1.5rem;

                    &:after {
                        display: block;
                        content: '';
                        border-bottom: solid 3px rgba(255, 255, 255, 0.75);
                        border-radius: 50px;
                        padding-top: 2px;
                        transform: scaleX(0);
                        transition: transform 250ms ease-in-out;
                        transform-origin: 100% 50%
                    }

                    &:active {
                        opacity: 0;
                    }

                    &:hover:after {
                        transform: scaleX(1);
                        transform-origin: 0 50%;
                    }
                }
            }
        }
    }

    // DROP DOWN MENU END
    // NAVIGATION END

    // CONTACT FORM START
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 180px auto 0;

        .color {
            position: absolute;
            filter: blur(150px);

            &:nth-child(1) {
                top: -350px;
                width: 600px;
                height: 600px;
                background: rgb(0, 255, 186, 0.55);
            }

            &:nth-child(2) {
                bottom: -150px;
                left: 100px;
                width: 500px;
                height: 500px;
                background: rgb(255, 253, 135, 0.55);
            }

            &:nth-child(3) {
                bottom: 50px;
                right: 100px;
                width: 400px;
                height: 400px;
                background: rgb(191, 0, 255, 0.55)
            }
        }

        // ANIMATED SQUARES START
        .box {
            position: relative;

            .square {
                position: absolute;
                backdrop-filter: blur(5px);
                box-shadow: $glow, $glassmorph, $simple-shadow;
                border-top: 1px solid rgba(255, 255, 255, 0.9);
                border-bottom: 1px solid rgba(255, 255, 255, 0.9);
                border-left: 1px solid rgb(255, 255, 255, 0.5);
                border-right: 1px solid rgb(255, 255, 255, 0.5);
                border-radius: 10px;
                background: rgb(255, 255, 255, 0.1);
                // NEGATIVE DELAY DIVERSIFIES SQUARE ANIMATION WITHOUT FORWARDED DELAY
                animation: animate 10s linear infinite;
                animation-delay: calc(-1s * var(--i));

                &:nth-child(1) {
                    top: -50px;
                    right: -60px;
                    width: 100px;
                    height: 100px;
                }

                &:nth-child(2) {
                    top: 150px;
                    left: -100px;
                    width: 120px;
                    height: 120px;
                    z-index: 2;
                }

                &:nth-child(3) {
                    bottom: 50px;
                    right: -60px;
                    width: 80px;
                    height: 80px;
                    z-index: 2;
                }

                &:nth-child(4) {
                    bottom: -80px;
                    left: 100px;
                    width: 50px;
                    height: 50px;
                }

                &:nth-child(5) {
                    top: -80px;
                    left: 100px;
                    width: 60px;
                    height: 60px;
                }

                @keyframes animate {

                    // ANIMATION STARTS WITH A -40PX OFFSET AT 0%
                    0%,
                    100% {
                        transform: translateY(-40px);
                    }

                    // TRANSITIONS 40PX TOWARDS ORIGIN FOR 50% OF THE OFFSET AT 0%
                    50% {
                        transform: translateY(40px);
                    }
                }
            }
        }

        // ANIMATED SQUARES END

        .container {
            position: relative;
            width: 400px;
            min-height: 400px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(7px);
            box-shadow: $glow, $true-glassmorph;
            border: 1px solid rgb(255, 255, 255, 0.5);
            border-right: 1px solid rgb(255, 255, 255, 0.2);
            border-bottom: 1px solid rgb(255, 255, 255, 0.2);
            opacity: 0;
            @include fadeUp;

            .form {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 40px;

                h2 {
                    position: relative;
                    font-family: $montserrat;
                    color: white;
                    text-shadow: $glow;
                    font-size: 4.8rem;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-bottom: 40px;
                    text-align: center;
                }

                .input-box {
                    width: 100%;
                    margin-top: 20px;

                    input {
                        width: 100%;
                        background: rgba(255, 255, 255, 0.2);
                        border: none;
                        outline: none;
                        padding: 10px 20px;
                        border-radius: 35px;
                        border: 1px solid rgb(255, 255, 255, 0.5);
                        border-right: 1px solid rgb(255, 255, 255, 0.2);
                        border-bottom: 1px solid rgb(255, 255, 255, 0.2);
                        font-size: 1.7rem;
                        letter-spacing: 1px;
                        color: white;
                        box-shadow: 0 5px 15px rgb(0, 0, 0, 0.3), $glow;

                        &::placeholder {
                            font-family: $comfortaa;
                            text-shadow: $glow;
                            font-weight: 800;
                            color: white;
                        }

                        &[type="submit"] {
                            background: white;
                            font-family: $comfortaa;
                            text-shadow: $glow;
                            color: rgba(0, 0, 0, 0.6);
                            max-width: 150px;
                            cursor: pointer;
                            margin-bottom: 20px;
                            margin-left: 80px;
                            font-weight: 800;
                            transition: .3s ease-in-out;

                            &:hover {
                                background: rgba(255, 255, 255, 0.2);
                                color: #fff;
                                font-weight: 600;
                            }
                        }
                    }

                    textarea {
                        width: 315px;
                        height: 140px;
                        resize: none;
                        background: rgba(255, 255, 255, 0.2);
                        border: none;
                        outline: none;
                        padding: 10px 20px;
                        border-radius: 15px;
                        border: 1px solid rgb(255, 255, 255, 0.5);
                        border-right: 1px solid rgb(255, 255, 255, 0.2);
                        border-bottom: 1px solid rgb(255, 255, 255, 0.2);
                        font-size: 1.7rem;
                        letter-spacing: 1px;
                        color: white;
                        box-shadow: 0 5px 15px rgb(0, 0, 0, 0.3), $glow;

                        &::placeholder {
                            font-family: $comfortaa;
                            font-weight: 800;
                            text-shadow: $glow;
                            color: white;
                        }
                    }
                }
            }

            .text {
                margin-top: 5px;
                font-family: $comfortaa;
                font-weight: 900;
                font-size: 1.7rem;
                line-height: 165%;
                color: #fff;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

                .fa-face-laugh-wink,
                .fa-linkedin {
                    font-size: 2rem;
                }

                a {
                    color: #fff;
                    text-decoration: none;

                    &:active {
                        opacity: 0;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        // CONTACT FORM RESPONSIVITY START
        @media (max-width: 400px) {
            .container {
                width: 300px;

                .form {

                    padding: 15px;

                    h2 {
                        font-size: 4rem;
                        margin-bottom: 0;
                    }

                    .input-box {
                        margin-top: 15px;

                        input {
                            font-size: 1.5rem;

                            &[type="submit"] {
                                margin-bottom: 2px;
                                margin-left: 58px;
                            }
                        }

                        textarea {
                            width: 100%;
                            height: 120px;
                            font-size: 1.5rem;
                        }
                    }
                }

                .text {
                    font-size: 1.2rem;

                    .fa-face-laugh-wink,
                    .fa-linkedin {
                        margin-top: 2px;
                        font-size: 1.6rem;
                    }
                }
            }
        }

        @media (min-width: 1000px) {
            .container {
                width: 900px;

                .form {
                    h2 {
                        font-size: 7rem;
                        margin-bottom: 30px;
                    }

                    .input-box {
                        input {
                            font-size: 2rem;

                            &[type="submit"] {
                                margin-bottom: 20px;
                                margin-left: 350px;
                            }
                        }

                        textarea {
                            width: 100%;
                            height: 200px;
                            font-size: 2rem;
                        }
                    }
                }

                .text {
                    font-size: 2rem;

                    .fa-face-laugh-wink,
                    .fa-linkedin {
                        margin-top: 10px;
                        font-size: 2rem;
                    }
                }
            }
        }

        // CONTACT FORM RESPONSIVITY END
    }

    // CONTACT FORM END
}